* {
	min-height: 0;
	min-width: 0;
	font-family: Lexend, "JetBrainsMono NFP";
	font-size: 13px;
	font-weight: 600;
}

window#waybar {
	transition-property: background-color;
	transition-duration: 0.5s;
	background: transparent;
	border: none;
	box-shadow: none;
}

#workspaces button {
	padding: 0.3rem 0.6rem;
	margin: 0.4rem 0.25rem;
	border-radius: 6px;
	/* background-color: #181825; */
	background-color: #1e1e2e;
	color: #cdd6f4;
}

#workspaces button:hover {
	color: #1e1e2e;
	background-color: #cdd6f4;
}

#workspaces button.active {
	background-color: #1e1e2e;
	color: #89b4fa;
}

#workspaces button.urgent {
	background-color: #1e1e2e;
	color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#cpu,
#temperature,
#tray,
#window,
#mpris {
	padding: 0.3rem 0.6rem;
	margin: 0.4rem 0.25rem;
	border-radius: 6px;
	/* background-color: #181825; */
	background-color: #1e1e2e;
}

#mpris.playing {
	color: #a6e3a1;
}


#mpris.paused {
	color: #9399b2;
}

#custom-sep {
	padding: 0px;
	color: #585b70;
}

window#waybar.empty #window {
	background-color: transparent;
}

#cpu {
	color: #FFFFFF;
}

#temperature {
	color: #FFFFFF;
}

#clock {
	color: #FFFFFF;
}

#clock.simpleclock {
	color: #FFFFFF;
}

#window {
	color: #FFFFFF;
}

#pulseaudio {
	color: #FFFFFF;
}

#pulseaudio.muted {
	color: #FFFFFF;
}

#custom-logo {
	color: #FFFFFF;
}

#battery {
	padding: 0.3rem 0.6rem;
	margin: 0.4rem 0.25rem;
	border-radius: 6px;
	background-color: #1e1e2e;
	color: #ffffff;
}

/* Optional state colors */
#battery.warning {
	color: #f9e2af;
}

#battery.critical {
	color: #f38ba8;
}

#battery.charging {
	color: #a6e3a1;
}

#custom-power {
	color: #f38ba8;
}

tooltip {
	background-color: #181825;
	border: 2px solid #89b4fa;
}
